body{
	margin: 0px;
	padding: 0px;
}

header, footer, section, article, aside, nav, hgroup{
	display: block;
}

#leftbox{
	float: left;
	width: 500px;
	height: 500px;
	border: 3px solid black;
	margin: 10px;
	display: flex;
	padding: 25px;
}

#rightbox{
	float: left;
	width: 500px;
	height: 500px;
	border: 3px solid black;
	margin: 10px;
	display: flex;
	padding: 25px;
}